# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.coverprofile

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.vscode
.idea
.DS_Store

# Go workspace file
go.work
