name: Build

on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          the mode to use. either `snapshot` or `release`. Will affect effective version, as well
          as target-oci-registry.

jobs:
  prepare:
    uses: gardener/cc-utils/.github/workflows/prepare.yaml@master
    with:
      mode: ${{ inputs.mode }}
    permissions:
      id-token: write

  oci-images:
    name: Build OCI-Images
    needs:
      - prepare
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    strategy:
      matrix:
        args:
          - name: etcd-wrapper
            oci-repository: gardener/etcd-wrapper
            ocm-labels:
              name: gardener.cloud/cve-categorisation
              value:
                network_exposure: private # TODO: change to `protected` once DB-initialisation moves
                                          # to etcd-wrapper, since it might need to contact snapstore
                                          # provider for sanity-checks
                authentication_enforced: true
                user_interaction: gardener-operator
                confidentiality_requirement: high
                integrity_requirement: high
                availability_requirement: high
    with:
      name: ${{ matrix.args.name }}
      version: ${{ needs.prepare.outputs.version }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      oci-platforms: linux/amd64,linux/arm64
      ocm-labels: ${{ toJSON(matrix.args.ocm-labels) }}
      extra-tags: latest

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
      - name: run-test
        run: |
          set -eu
          mkdir /tmp/blobs.d
          .ci/test |& tee /tmp/blobs.d/test-results.txt
          tar czf /tmp/blobs.d/test-results.tar.gz -C /tmp/blobs.d test-results.txt
      - name: add-test-results-to-component-descriptor
        uses: gardener/cc-utils/.github/actions/export-ocm-fragments@master
        with:
          blobs-directory: /tmp/blobs.d
          ocm-resources: |
            name: test-results
            relation: local
            access:
              type: localBlob
              localReference: test-results.tar.gz
            labels:
              - name: gardener.cloud/purposes
                value:
                  - test

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
      - name: run-check
        run: |
          set -eu
          .ci/check
          # check calls `make sast-report`, which generates `gosec-report.sarif`
          mkdir /tmp/blobs.d
          tar czf /tmp/blobs.d/gosec-report.tar.gz gosec-report.sarif
      - name: add-sast-report-to-component-descriptor
        uses: gardener/cc-utils/.github/actions/export-ocm-fragments@master
        with:
          blobs-directory: /tmp/blobs.d
          ocm-resources: |
            name: gosec-report
            relation: local
            access:
              type: localBlob
              localReference: gosec-report.tar.gz
            labels:
              - name: gardener.cloud/purposes
                value:
                  - lint
                  - sast
                  - gosec
              - name: gardener.cloud/comment
                value: |
                  we use gosec (linter) for SAST scans
                  see: https://github.com/securego/gosec
